/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    // color: #222;
}

body {
    font-size: 18px;
    line-height: 1.4;
}


/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Fonts classes
   ========================================================================== */
.txt-primary-color {color: #ffffff;}
.txt-secundary-color {color: #d61e38;}
.txt-invert-primary-color {color: #424242;}
.txt-invert-secundary-color {color: #424242;}

.section--centered p {
    font-size: 1.6em;
    margin: 0 0 .5em;
}
.section--centered .txt--xsmall {font-size: .5em;}
.section--centered .txt--small {font-size: .85em;}
.section--centered .txt--large {font-size: 2em;}
.section--centered .txt--xlarge {font-size: 3em;}
.section--centered .txt--xxlarge {font-size: 4em;}
.section--centered .txt--xxxlarge {font-size: 6em;}
.section--centered .txt--insane {font-size: 8em;}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   One Page Scroll styles
   ========================================================================== */
.onepage-wrapper{
    z-index: 10;
}
.onepage-pagination {
    display: none;
    right: 2vw;
    top: 40vh;
    z-index: 100;
}

.onepage-pagination li a:before,
.onepage-pagination li a.active:before {
    background: rgba(255, 255, 255, 1);
    border-color: #ffffff;
}


/* ==========================================================================
   One Page Scroll with Animations styles
   ========================================================================== */
* {
    transition: all .4s ease;
}
.__anima--pattern {
    animation: pattern_key 10s linear;
    animation-iteration-count: infinite;
}

@keyframes pattern_key {
    0% {
        background-position: 0px 0px
    }
    100% {
        background-position: -200px -801px
    }
}


/* Code Samples */

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
    font-size: 14px;
}

code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

body,
html {
    height: 100%;
    min-height: 100%;
}

.loading {
    background: #ffffff;
    background-image: url('../img/ico_loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
}

.loaded section {
    opacity: 1;
}

header {
    position: fixed;
    z-index: 100;
    margin: 2em;
}

section {
    opacity: 0;
    -webkit-transition: opacity .6s;
    -webkit-transition-delay: .2s;
    -moz-transition: opacity .6s;
    -moz-transition-delay: .2s;
    -o-transition: opacity .6s;
    -o-transition-delay: .2s;
    transition: opacity .6s;
    transition-delay: .2s;
}

section {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    resize: vertical;
    text-align: center;
    width: 1200px;
}

section.__bg--pattern {
    background-repeat: repeat !important;
    background-size: initial !important;
}

section.__login {
    width: 100%;
    height: 100vh;
}

section.elem--01 .start--arrow{
    bottom: 2em;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
}

.section--centered {
    margin: 0 auto;
    padding: 20px 10px;
    resize: vertical;
    width: 960px;
}

/* ==========================================================================
   Background classes
   ========================================================================== */

section.gradient--red {
    background: #d04e3c;
    /* Old browsers */
    background: -moz-linear-gradient(#d04e3c 0%, #bf2638 40%, #961348 100%);    
    background: -webkit-linear-gradient(#d04e3c 0%, #bf2638 40%, #961348 100%);    
    background: linear-gradient(#d04e3c 0%, #bf2638 40%, #961348 100%);    
    background-position: center center;
}

section.gradient--red.__2016 {
    background-image: url(../img/comp-year-2016-layer.png), -moz-linear-gradient(#d04e3c 0%, #bf2638 40%, #961348 100%);    
    background-image: url(../img/comp-year-2016-layer.png), -webkit-linear-gradient(#d04e3c 0%, #bf2638 40%, #961348 100%);    
    background-image: url(../img/comp-year-2016-layer.png), linear-gradient(#d04e3c 0%, #bf2638 40%, #961348 100%);    
    background-size: 100% !important;
}

section.gradient--red.__2017 {
    background-image: url(../img/comp-year-2017-layer.png), -moz-linear-gradient(#d04e3c 0%, #bf2638 40%, #961348 100%);    
    background-image: url(../img/comp-year-2017-layer.png), -webkit-linear-gradient(#d04e3c 0%, #bf2638 40%, #961348 100%);    
    background-image: url(../img/comp-year-2017-layer.png), linear-gradient(#d04e3c 0%, #bf2638 40%, #961348 100%);    
    background-size: 100% !important;    
}
.bg--placeholder,
.bg--placeholder__pattern{
    background-position: center;
    background-size: 100%;    
    height: 100%;
    left: 0;
    // position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;    
}
// .bg--placeholder__pattern{
//     background-size: initial;
//     background-repeat: repeat;     
// }
section.page-3.active {background-image: url(../img/bg-pattern-04.gif);}
section.page-6.active {background-image: url(../img/bg-pattern-07.gif);}
section.page-7.active {background-image: url(../img/bg-pattern-08.gif);}
section.page-8.active {background-image: url(../img/bg-pattern-09.gif);}
section.page-9.active {background-image: url(../img/bg-pattern-10.gif);}
section.page-10.active {background-image: url(../img/bg-pattern-11.gif);}
section.page-11.active {background-image: url(../img/bg-pattern-12.gif);}

section.page-3.active,  
section.page-6.active,      
section.page-7.active,      
section.page-8.active,      
section.page-9.active,      
section.page-10.active,         
section.page-11.active{
    background-size: initial !important;
    background-repeat: repeat !important; 
}

.viewing-page-2 .bg--placeholder,
.viewing-page-3 .bg--placeholder,
.viewing-page-4 .bg--placeholder,
.viewing-page-5 .bg--placeholder{
    background-size: cover;    
    position: fixed;
}
.viewing-page-2 .bg--placeholder{
    background-image: url(../img/bg-02.png);
}
.viewing-page-4 .bg--placeholder,
.viewing-page-5 .bg--placeholder{  
    background-image: url(../img/bg-05.png);
}

// .viewing-page-6 .bg--placeholder__pattern {background-image: url(../img/bg-pattern-07.gif);}
// .viewing-page-7 .bg--placeholder__pattern {background-image: url(../img/bg-pattern-08.gif);}
// .viewing-page-8 .bg--placeholder__pattern {background-image: url(../img/bg-pattern-09.gif);}
// .viewing-page-9 .bg--placeholder__pattern {background-image: url(../img/bg-pattern-10.gif);}
// .viewing-page-10 .bg--placeholder__pattern {background-image: url(../img/bg-pattern-11.gif);}
// .viewing-page-11 .bg--placeholder__pattern {background-image: url(../img/bg-pattern-12.gif);}

/* ==========================================================================
   Form classes
   ========================================================================== */

button,
input,
textarea {
    background-color: transparent;
    border-color: transparent;
    border-radius: 1em;
    margin-bottom: 1em;
    outline: none;
    padding: 2% 5%;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

#loginForm {
    margin: 0 auto;
    max-width: 525px;
    width: 100%;
}

.input.input--text input {
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: #ffffff;
    font-size: 1.125em;
}

.input.input--text label {
    opacity: 0;
}

.input.input--text label.error {
    display: block;
    color: #ffffff;
    font-size: 0.875em;
    margin-bottom: 2em;
    opacity: 1;
}

.buttom--primary {
    border-color: rgba(233, 107, 43, 1);
    color: rgba(233, 107, 43, 1);
    width: auto;
}

.form--feedback {
    color: rgba(255, 255, 255, 1);
    display: block;
    margin-bottom: 1em;
    padding: 2% 5%;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ffffff;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #ffffff;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #ffffff;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #ffffff;
}
/* ==========================================================================
   Table classes
   ========================================================================== */
#table-hours{
    width: 100%;
}
#table-hours tr{

}
#table-hours td{
    vertical-align: bottom;
}
#table-hours td span{
    display: block;
    width: 100%;
}
#table-hours td span.txt--xxlarge.txt-primary-color{
    padding-bottom: .18em;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}


/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}


/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}


/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 1024px) {
    /* Style adjustments for viewports that meet the condition */
    section {
        width: 100%;
    }
    .section--centered {
        padding: 0 20%;
        width: 60%;
    }
    /* ==========================================================================
       Mobile Fonts classes
       ========================================================================== */
    .section--centered .txt--xlarge{font-size: 2.5em;}
    .section--centered .txt--xxlarge{font-size: 3em;}
    .section--centered .txt--xxxlarge,
    .section--centered .txt--insane{font-size: 4em;}
    .section--centered .txt--large.money{font-size: 1.6em;}
}
@media only screen and (max-width: 768px) {
    body {
        font-size: 13px;
        line-height: 1.2;
    }
    .onepage-pagination {
        display: none !important;
    }    
    #logo img {
        width: 50%;
    }    
    .section--centered {
        padding: 0 10%;
        width: 80%;
    }
    /* ==========================================================================
       Mobile Helper classes
       ========================================================================== */
    .section--centered .txt--xlarge{font-size: 2.5em;}
    .section--centered .txt--xxlarge{font-size: 3em;}
    .section--centered .txt--xxxlarge,
    .section--centered .txt--insane{font-size: 3.5em;}
    .mobile--hidden {
        display: none !important;
        visibility: hidden;
    }
    .table--responsible{
        display: block !important;
        text-align: center !important;
        width: 100% !important;
    }
    .table--responsible.__half{
        float: left;
        width: 49.2% !important;
    }    
}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links for images, or javascript/internal links
     */
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
        /* h5bp.com/t */
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    @page {
        margin: 0.5cm;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
